!!! 5
html
	head
		title Less Online Parser
		link(href='../bootstrap/css/bootstrap.min.css',rel='stylesheet')
		link(href='../bootstrap/css/bootstrap-responsive.min.css',rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body!= body
	script(type="text/javascript",src="http://js.tongji.linezing.com/2773804/tongji.js")
	noscript
		a(href="http://www.linezing.com")
			img(src="http://img.tongji.linezing.com/2773804/tongji.gif")