div(class="navbar navbar-fixed-top")
	div(class="navbar-inner")
		div(class="container")
			a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="brand",href="#") Less Online Parser
			div(class="nav-collapse")
				ul(class="nav")
					li
						a(href="/") 在线编译
					li(class="active")
						a(href="/tools") 工具汇总
					li
						a(href="/about") 系统介绍
					li
						a(href="http://lesscss.net",target="_blank") LESS官网
div(class="container")
	div(class="tabbable tabs-left")
		ul(class="nav nav-tabs")
			li(class="active")
				a(href="#lA",data-toggle="tab") 本地开发工具
			li
				a(href="#lB",data-toggle="tab") 在线编译工具
			li
				a(href="#lC",data-toggle="tab") Do With LESS
			li
				a(href="#lD",data-toggle="tab") 其他
		div(class="tab-content")
			div(class="tab-pane active",id="lA")
				div(class="container-fluid")
					div(class="row-fluid")
						div(class="span3")
							div(class="thumbnail very-item")
								img(src="../images/SimpleLess.png",alt="")
								div(class="caption")
									h5 SimpleLess
									p 运行环境：Window、Ubuntu、Mac OS
									p It’s easy to understand why thousands of developers use SimpLESS. It compiles your *.less files into valid CSS. Available for free for mac, linux and pc.
									p
										a(href="http://wearekiss.com/simpless",target="_blank",class="btn btn-primary") Try Now
							
							div(class="thumbnail")
								img(src="../images/WinLess.png",alt="")
								div(class="caption")
									h5 WinLess
									p 运行环境：Window
									p WinLess is a Windows GUI for LESS.js. WinLess is a must-have for the webdeveloper who uses Windows.
									p
										a(href="http://winless.org",target="_blank",class="btn btn-primary") Try Now
						div(class="span3")
							div(class="thumbnail very-item")
								img(src="../images/macless.png",alt="")
								div(class="caption")
									h5 Less.app
									p 运行环境: Mac OS
									p {Less} extends CSS with variables, nested rules, operators and more. This app makes it dead simple to use {Less} by automatically compiling *.less files into standard CSS.
									p
										a(href="http://incident57.com/less/",target="_blank",class="btn btn-primary") Try Now
							
							div(class="thumbnail")
								img(src="../images/CodeKit.png",alt="")
								div(class="caption")
									h5 CodeKit.app
									p 运行环境: Mac OS
									p CodeKit automatically compiles Less, Sass, Stylus, CoffeeScript, Jade & Haml files. It effortlessly combines, minifies and error-checks Javascript. It supports Compass. It even optimizes jpeg & png images, auto-reloads your browser and lets you use the same files across many projects. And that's just the first paragraph.
									p
										a(href="http://incident57.com/codekit/",target="_blank",class="btn btn-primary") Try Now
						div(class="span3")
							div(class="thumbnail")
								img(src="../images/Linuxless.jpg",alt="")
								div(class="caption")
									h5 LESS编译辅助脚本-LESS2CSS
									p 运行环境：Linux、Window、Mac OS
									p 由于Linux下无GUI版工具，所以只能大家自己动手去写脚本。这个脚本可以让Linux用户在终端下以【node less2css file1 file2 ...】的形式监听less文件，实时编译成css。
									p
										a(href="http://www.veryued.org/?p=454",target="_blank",class="btn btn-primary") Try Now
				
			div(class="tab-pane",id="lB")
				div(class="container-fluid")
					div(class="row-fluid")
						div(class="span3")
							div(class="thumbnail")
								img(src="../images/LessOnline.png",alt="")
								div(class="caption")
									h5 Less Online Parser
									p 运行环境：高级浏览器
									p LESS在线编译工具，可以快捷方便的将LESS代码编译成CSS代码。
									p
										a(href="http://less.cnodejs.net",target="_blank",class="btn btn-primary") Try Now
						div(class="span3")
							
						div(class="span3")
							
			div(class="tab-pane",id="lC")
				div(class="container-fluid")
					div(class="row-fluid")
						div(class="span3")
							div(class="thumbnail")
								img(src="../images/bootstrap.png",alt="")
								div(class="caption")
									h5 BootStrap
									p Simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions.
									p
										a(href="http://twitter.github.com/bootstrap/",target="_blank",class="btn btn-primary") Try Now
						div(class="span3")
							
						div(class="span3")
							
			div(class="tab-pane",id="lD")
				p is comming~
	p 提交工具请留言：
	div(id="disqus_thread")
	script(type="text/javascript")
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'lesscss'; // required: replace example with your forum shortname
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	noscript Please enable JavaScript to view the
		a(href="http://disqus.com/?ref_noscript")
			comments powered by Disqus.
script(src="../javascripts/jquery.js")
script(src="../bootstrap/js/bootstrap.min.js")
script(src="../javascripts/less.js")
script(src="../javascripts/custom.js")